<div class="button-form">
  <button type="button" class="button" [ngClass]="templateDrivenForm() ? 'active': ''" (click)="showHideForm('templateForm')">Template Driven Form</button>
  <button type="button" class="button" [ngClass]="reactiveForm() ? 'active': ''" (click)="showHideForm('reactiveForm')">Reactive Form</button>
</div>

@if(templateDrivenForm()){
<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input id="email" type="email" name="email" ngModel required email #email="ngModel" />
      @if(email.invalid && email.touched && email.dirty){
      <p class="control-error">
        Invalid email address entered
      </p>
      }
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" ngModel required minlength="6" #password="ngModel" />
      @if(password.invalid && password.touched && password.dirty){
      <p class="control-error">
        Invalid password entered - must be at least 6 characters
      </p>
      }
    </div>
    <div class="control no-margin radio-label">
      <label for="male">Male</label>
      <input id="male" type="radio" name="gender" value="Male" ngModel required #gender="ngModel" />
      <label for="female">Female</label>
      <input id="female" type="radio" name="gender" value="Female" ngModel required #gender="ngModel" />
    </div>

    <button class="button">Login</button>
  </div>
  @if(form.form.valid) {
  <p>{{form.value| json }}</p>
  }
</form>
}@else if(reactiveForm()) {
<form [formGroup]="formReactive" (ngSubmit)="onReactiveFormSubmit()">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input id="email" type="email" [formControl]="formReactive.controls.email"/>
      @if(emailIsInvalid){
        <p class="control-error"> Invalid Email address entered</p>
      }
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password"/>
      @if(passwordIsInvalid){
        <p class="control-error"> Please enter a valid password (must be at least 6 characters long and contain a question mark)</p>
      }
    </div>
    <div class="control no-margin radio-label">
      <label for="male">Male</label>
      <input id="male" type="radio" name="gender" value="Male"  formControlName="gender"/>
      <label for="female">Female</label>
      <input id="female" type="radio" name="gender" value="Female" formControlName="gender"/>
    </div>

    <button class="button">Login</button>
  </div>
  @if(formReactive.valid){
    {{formReactive.value | json}}
  }
</form>
}