.control-row {
  align-items: flex-end;
}

.control {
  width: 100%;
}

button {
  padding: 0.6rem 1.75rem;
}
.control.no-margin.radio-label {
    display:flex;
}
.button-form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
button.active{
  background-color:#319890;
  border: 2px solid #fff;
}
